$bg: #262626;
$mainC: #662D91;

//login

#loginForm{
    background-color: rgba(1,1,1, 0.6);
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  
  #loginForm h3{
    text-align: center;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  input.usernameLogin{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: 10px;
  }
  
  input.passwordLogin{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: 10px;
  }
  
  button.submitLogin{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 50px;
      margin-top: 10px;
      background-color: #662D91;
      border-color: #662D91;
      color: white;
      box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    }
   
   button.submit:hover{
      cursor: pointer;
    }
 
//main page

  .logo{
      margin: 0 auto;
      display: block;
  }

.logo img{
    width: 150px;
    padding-top: 10px;
  }


html,body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: $bg;
}

.filterNav{
    width: 100%;
    margin-top: 20px;
}
.filterNav ul{
    // margin: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(145,145,145,.8);
    text-align: left;
    width: 100%;
    padding-right: 11%;
}
.filterNav li{
    margin-right: 10px;
    font-size: 20px;
    display: inline;
    list-style-type: none;
    // width: 100%;
}

ul.cate h1{
    text-align: center;
}
.filterNav li:hover{
    padding: 20px ;
    background-color:rgba(145,145,145,1);
}

.ul.cate{
    margin-bottom: 20px;
}

.filterNav a{
    text-decoration: none;
    color: black;
}

.movie-block{
    background-color: $mainC;
}

.movie-item{
    width: 100%;
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-left: 12px;
    border-radius: 15px;
}
.movie-item img{
    width: 50%;
    margin-top: -90%;
}

.movie-item h2{
    color: white;
}

.movie-item h4{
    color: white;
}


footer{
    background-color: rgb(145,145,145);
    margin-top: 20px;
    width: 100vw;
    text-align: center;
}

@media only screen and (min-device-width: 768px ){
    .logo{
        border-bottom: 2px solid black;
      }
      
      .logo img{
        width: 20%;
        padding-top: 10px;
        padding-left: 10px;
      }

      .movie-item{
        width: 33%;
        margin-top: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movie-item a{
        text-decoration: none;
        color: white;
        background-color: black;
        padding-left: 12px;
        border-radius: 15px;
    }

    .movie-item img{
        width: 60%;
        margin-top: -100%;
    }

}

@media only screen and (min-device-width: 900px ){}