$bg: #262626;
$mainC: #662D91;
$kids: #A38BC4;

//login

html,body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: $bg;
}

body.kidsColor{
    background-color: #E2ECF8;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h7{
    color: red;
    padding-left: 15%;
}

.cloud{
    margin-left: -10%;
}

.cloud img{
    width: 75px;
    margin-top: 10px;
    margin-left: -30px;

}

.sign{
    margin: 0 auto;
    display: block;
}

.sign h1{
    text-align: center;
    color: white;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.login{
    display: block;
    margin: 0 auto;
}
#loginForm{
    background-color: rgba(1,1,1,0.6);
    width: 300px;
    height: 100%;
    display: block;
    margin-top: 20px;
  }

  .profilePic{
      width: 15%;
  }


  #loginForm h3{
    text-align: center;
    color: white;
    // padding-top: 10px;
  }
  
  input.usernameInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }
  
  input.passwordInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }

  .loginLabel h5{
color: white;
text-align: center;
margin-top: 10px;
font-size: 20px;
  }
  
  button.submitLogin{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 50px;
      margin-top: 10px;
      background-color: #662D91;
      border-color: #662D91;
      color: white;
      box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    }
   
   button.submit:hover{
      cursor: pointer;
    }
 
//main page

  .logo{
      margin: 0 auto;
      display: block;
  }

.logo img{
    width: 150px;
    padding-top: 10px;
  }



.filterNav{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.filterNav ul{
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #662D91;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.filterNav li{
    margin-right: 10px;
    font-size: 20px;
    display: inline;
    list-style-type: none;
}

ul.cate h1{
    text-align: center;
    padding-bottom: 20px;
}

.ul.cate{
    margin-top: 20px;
    font-size: 20px;
    font-size: 20px;
}

.filterNav a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
padding-right: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.filterNavKids{
    width: 100%;
    margin-top: 20px;
}
.filterNavKids ul{
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #A38BC4;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.filterNavKids li{
    margin-right: 10px;
    font-size: 20px;
    display: inline;
    list-style-type: none;
}

.filterNavKids ul li a{
    padding-bottom: 5px;
    padding-top: 5px;
}

.filterNavKids a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
padding-right: 20px;
}

ul.kid h1{
    text-align: center;
    padding-bottom: 20px;
}


.ul.kid{
    margin-top: 20px;
    font-size: 20px;
    font-size: 20px;
}

.movie-block{
    background-color: $mainC;
}

.movie-item{
    width: 50%;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-item img{
    width: 80%;
    margin-top: -100%;
}

.movie-item h2{
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 1px;
}

.movie-item h4{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.movie-itemKids{
    width: 50%;
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-itemKids a{
    text-decoration: none;
    color: white;
    background-color: #A38BC4;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-itemKids img{
    width: 80%;
    margin-top: -100%;
}

.movie-itemKids h2{
    color: #A38BC4;
    font-size: 18px;
    margin-top: 5px;
    padding-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-itemKids h4{
    color: #32CD32;
    font-size: 18px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

//video section

.movie-itemVideo{
   margin: 0 auto;
   display: block;
}

.movie-itemVideo iframe{
    margin: 0 auto;
    display: block;
    width: 375px;
    height: 200px;
}

//dashboard

.dash{
    margin-left: 20%;
    display: block;


}
.dash h1{
    text-align: left;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: $mainC;
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

.dash h3{
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
}

.return{
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.return a{
    text-decoration: none;
    color: white;
    font-style: italic;
    cursor: pointer;
}

//user customize

.change {
    margin-top: 50px;
    display: block; 
    width: 100%;
}

.change h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.change a{
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    padding-bottom: 40px;
    font-style: italic;
    text-decoration: none;
}

//edit user

div.editMe{
    margin: 20px auto;
    display: block;
    width: 90%;
    background-color: #662D91;
    height: 85%;
}

div.editMe h2{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;

}

div.editMe label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    display: block;
    padding-bottom: 1px;
}

div.editMe input{
    margin: 0 auto;
    display: block;
    width: 95%;
}

div.editMe button{
    background-color: whitesmoke;
    width: 95%;
    height: 50px;
    margin-top: -10px;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    cursor: pointer;
}

//footer

footer{
    background-color:$mainC;
    width: 100vw;
    margin-top: 5%;
    text-align: center;
    color: black;
    font-size: 17px;
}




@media only screen and (min-device-width: 768px ){

header{
    width: 100%;
}

    .logo{
        border-bottom: 2px solid black;
      }
      
      .logo img{
        width: 20%;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
        margin: 0 auto;
        display: block;
      }

// .filterNav li:hover{
// padding: 10px;
// background-color: grey;
//     }
    
//login

.profilePic{
    width: 10%;
}


.cloud{
    margin-left: 52%;
    margin-top: -20px;
}

.cloud img{
    width: 75px;
    margin-top: -30px;
    margin-left: 80px;

}

.sign h1{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 50px;
}
.login{
    display: block;
    margin: 0 auto;
}

h7{
    color: red;
    padding-left: 30%;
}

#loginForm{
    background-color: rgba(1,1,1, 0.6);
    width: 500px;
    height: 110%;
    display: block;
  }
  
  #loginForm h3{
    text-align: center;
    color: white;
    // padding-top: 10px;
  }
  
  input.usernameInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }
  
  input.passwordInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }

  .loginLabel h5{
color: white;
text-align: center;
margin-top: 10px;
font-size: 20px;
  }
  
button.submitLogin{
cursor: pointer;
display: block;
margin: 0 auto;
width: 150px;
height: 50px;
margin-top: 10px;
background-color: #662D91;
border-color: #662D91;
color: white;
box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    }

    .filterNavKids ul{
        margin-bottom: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #A38BC4;
        text-align: center;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
 
    }

    .filterNavKids a{
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 22px;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }

    


.filterNavKids ul li a{
    padding-bottom: 20px;
    padding-top: 20px;
}
    

.filterNav ul{
        margin-bottom: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $mainC;
        text-align: center;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .filterNav a{
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 17px;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
   
   button.submit:hover{
      cursor: pointer;
    }

.movie-item{
    width: 33%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-item img{
    width: 80%;
    margin-top: -10%;
}

.movie-item h2{
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 1px;
}

.movie-item h4{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.movie-itemKids{
    width: 33%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-itemKids a{
    text-decoration: none;
    color: white;
    background-color: #A38BC4;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-itemKids img{
    width: 80%;
    margin-top: -10%;
}

.movie-itemKids h2{
    color: #A38BC4;
    font-size: 20px;
    margin-top: 5px;
    padding-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-itemKids h4{
    color: #32CD32;
    font-size: 20px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

//user customize

.change {
    margin-top: 50px;
    display: block; 
    width: 100%;
}

.change h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.change a{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0 auto;
    display: block;
    padding-bottom: 40px;
    text-decoration: none;
}

//video

.movie-itemVideo{
    margin: 0 auto;
    display: block;
 }
 
 .movie-itemVideo iframe{
     margin: 0 auto;
     display: block;
     width: 700px;
     height: 400px;
 }

//dashboard

.dash{
    margin: 0 auto;
    display: block;
}
.dash h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: $mainC;
    padding-top: 20px;
    margin-top: 40px;
    padding-left: 10px;
}

.dash h3{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
}
//return

.return{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.return a{
    text-decoration: none;
    color: white;
    font-style: italic;
    cursor: pointer;
}

//edit user

div.editMe{
    margin: 20px auto;
    display: block;
    width: 70%;
    background-color: #662D91;
    height: 85%;
}

div.editMe h2{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;

}

div.editMe label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    display: block;
    padding-bottom: 1px;
}

div.editMe input{
    margin: 0 auto;
    display: block;
    width: 95%;
}

div.editMe button{
    background-color: whitesmoke;
    width: 95%;
    height: 50px;
    margin-top: -10px;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    cursor: pointer;
}

//footer

footer{
 background-color:$mainC;
        width: 100vw;
        // margin-top: 100%;
        text-align: center;
        color: black;
        font-size: 17px;
    }

}

@media only screen and (min-device-width: 900px ){


    .logo{
        border-bottom: 2px solid black;
      }
      
      .logo img{
        width: 15%;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0 auto;
        display: block;
      }


      .cloud{
        margin-left: 45%;
        margin-top: -20px;
    }
    
    .cloud img{
        width: 75px;
        margin-top: -30px;
        margin-left: 190px;
    
    }
    
//login

.profilePic{
    width: 5%;
}

.filterNav ul{
    // margin: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $mainC;
    text-align: center;
    width: 100%;
}

.filterNav a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.filterNavKids ul{
    // margin: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #A38BC4;
    text-align: center;
    width: 100%;

}

.filterNavKids a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.filterNavKids ul li a{
    padding-bottom: 15px;
    padding-top: 15px;
}

.sign{
    margin: 0 auto;
    display: block;
    width: 100%;
}

    

.sign h1{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 50px;
}
.login{
    display: block;
    margin: 0 auto;
}
#loginForm{
    background-color: rgba(1,1,1,0.6);
    width: 500px;
    height: 110%;
    display: block;
  }
  
  #loginForm h3{
    text-align: center;
    color: white;
    // padding-top: 10px;
  }
  
  input.usernameInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }
  
  input.passwordInput{
    margin: 0 auto;
    display: block;
    width: 250px;
    margin-top: -10px;
  }

  .loginLabel h5{
color: white;
text-align: center;
margin-top: 10px;
font-size: 20px;
  }
  
  button.submitLogin{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 50px;
      margin-top: 10px;
      background-color: #662D91;
      border-color: #662D91;
      color: white;
      box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    }
   
   button.submit:hover{
      cursor: pointer;
    }

.movie-item{
    width: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-item a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-item img{
    width: 80%;
    margin-top: -10%;
}

.movie-item h2{
    color: white;
    font-size: 15px;
    margin-top: 5px;
    padding-left: 1px;
}

.movie-item h4{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.movie-itemKids{
    width: 20%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-itemKids a{
    text-decoration: none;
    color: white;
    background-color: #A38BC4;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}
.movie-itemKids img{
    width: 80%;
    margin-top: -10%;
}

.movie-itemKids h2{
    color: #A38BC4;
    font-size: 24px;
    margin-top: 5px;
    padding-left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.movie-itemKids h4{
    color: #32CD32;
    font-size: 24px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


//dashboard

.dash{
    margin: 0 auto;
    display: block;
}
.dash h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: $mainC;
    padding-top: 20px;
    margin-top: 40px;
    padding-left: 10px;
}

.dash h3{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10px;
}

//return

.return{
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.return a{
    text-decoration: none;
    color: white;
    font-style: italic;
    cursor: pointer;
    
}

//user customize

.change {
    margin-top: 50px;
    display: block; 
    width: 100%;
}

.change h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-style: italic;
}

.change a{
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 0 auto;
    display: block;
    padding-bottom: 40px;
    font-style: italic;
    text-decoration: none;
}

//edit user

div.editMe{
    margin: 20px auto;
    display: block;
    width: 50%;
    background-color: #662D91;
    height: 85%;
}

div.editMe h2{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;

}

div.editMe label {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    display: block;
    padding-bottom: 1px;
}

div.editMe input{
    margin: 0 auto;
    display: block;
    width: 95%;
}

div.editMe button{
    background-color: whitesmoke;
    width: 95%;
    height: 50px;
    margin-top: -10px;
    border: 2px solid black;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
    cursor: pointer;
}




//footer

    footer{
        background-color:$mainC;
        width: 100vw;
        // margin-top: 100%;
        text-align: center;
        color: black;
        font-size: 17px;
    }
}
