$main: #662D91;
$ff: arial;
$bg: #454444;



 body {
    background-color: $bg;
} 

.logo{
  border-bottom: 2px solid black;
}

.logo img{
  width: 30%;
  padding-top: 10px;
  padding-left: 10px;
}

.setting img{
  width: 8%;
  height: auto;
  margin-left: 85%;
  margin-top: -10%;
position: absolute;
}

.sign h1{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 30px;
}

.sign h2{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.signup{
    background-color: rgba(1,1,1, 0.6);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10px;
}

#contactForm h3{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    color: white;
  }

#contactForm h4{
  text-align: center;
  margin-top: 30px;
  color: white;
}

input.nameInput{
    display: block;
    margin: 0 auto; 
    width: 250px;
}

input.emailInput{
    display: block;
    margin: 0 auto;
    width: 250px;
}

input.passwordInput{
    display: block;
    margin: 0 auto; 
    width: 250px;
}

.account{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding-top: 10px;
}

button.adultAccount{
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 5px;
  background-color: grey;
  font-size: 15px;
  color: white;
}

button.kidsAccount{
  width: 60px;
  height: 60px;
  display: block;
  background-color: magenta;
  font-size: 15px;
  color: green;
}

button.submit{
   display: block;
   margin: 0 auto;
   width: 150px;
   height: 50px;
   margin-top: 10px;
   background-color: #662D91;
   border-color: #662D91;
   color: white;
   box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
 }

button.submit:hover{
   cursor: pointer;
 }

.footer h1{
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: rgb(128, 128, 128);
}

//account access

.accountAccess h1{
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 100px;
}

//login



#loginForm{
  background-color: rgba(1,1,1, 0.6);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#loginForm h3{
  text-align: center;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

input.usernameLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

input.passwordLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

button.submitLogin{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #662D91;
    border-color: #662D91;
    color: white;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
  }
 
 button.submit:hover{
    cursor: pointer;
  }

//adult section

.video h1{
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.movieContainer{
  background-color: $main;
  width: auto;
  height: auto;
}

.movieContainer h1{
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  }

  .video{
    width: 100%;
    height: auto;
  }

  .videoPlay{
    width: 100%;
    margin-top: 5px;
  }

  //kids

.backgroundKids{
  background-color: white;
}

body#kids_class{
  background-color: #cc90cc;
}

@media only screen and (min-device-width: 768px ){

  .logo{
    border-bottom: 2px solid black;
  }
  
  .logo img{
    width: 20%;
    padding-top: 10px;
    padding-left: 10px;
  }

  .setting img{
    width: 5%;
    height: auto;
    margin-left: 90%;
    margin-top: -7%;
  position: absolute;
  }
  
  .sign h1{
      text-align: center;
      font-size: 25px;
      color: white;
      margin-top: 10px;
  }
  
  .sign h2{
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      color: white;
  }
  
  .signup{
      background-color: rgba(1,1,1, 0.6);
      width: 100%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-top: 10px;
  }
  
  #contactForm h3{
      text-align: center;
      margin-top: 30px;
      padding-bottom: 10px;
      color: white;
    }
  
  #contactForm h4{
    text-align: center;
    margin-top: 30px;
    color: white;
  }
  
  input.nameInput{
      display: block;
      margin: 0 auto; 
      width: 250px;
  }
  
  input.emailInput{
      display: block;
      margin: 0 auto;
      width: 250px;
  }
  
  input.passwordInput{
      display: block;
      margin: 0 auto; 
      width: 250px;
  }
  
  .account{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
  }
  
  button.adultAccount{
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 5px;
    background-color: grey;
    font-size: 15px;
    color: white;
  }
  
  button.kidsAccount{
    width: 60px;
    height: 60px;
    display: block;
    background-color: magenta;
    font-size: 15px;
    color: green;
  }
  
  button.submit{
     display: block;
     margin: 0 auto;
     width: 150px;
     height: 50px;
     margin-top: 10px;
   }
  
  button.submit:hover{
     cursor: pointer;
   }
  
  .footer h1{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: rgb(128, 128, 128);
  }

  //account access

.accountAccess h1{
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 100px;
}

//login



#loginForm{
  background-color: rgba(1,1,1, 0.6);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#loginForm h3{
  text-align: center;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

input.usernameLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

input.passwordLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

button.submitLogin{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #662D91;
    border-color: #662D91;
    color: white;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
  }
 
 button.submit:hover{
    cursor: pointer;
  }

//adult section

.video h1{
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.movieContainer{
  background-color: $main;
  width: auto;
  height: auto;
}

.movieContainer h1{
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.video{
  width: 100%;
  height: auto;
}

.videoPlay{
  width: 100%;
  margin-top: 5px;
}

  //kids

  .backgroundKids{
    background-color: white;
  }
  
  body#kids_class{
    background-color: #cc90cc;
  }

}

@media only screen and (min-device-width: 900px ){

  .logo{
    border-bottom: 2px solid black;
  }
  
  .logo img{
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .setting img{
    width: 40px;
    height: auto;
    margin-left: 85%;
    margin-top: -50px;
  position: absolute;
  }
  
  .sign h1{
      text-align: center;
      font-size: 25px;
      color: white;
      margin-top: 40px;
  }
  
  .sign h2{
      text-align: center;
      margin-top: 10px;
      font-size: 20px;
      color: white;
  }
  
  .signup{
      background-color: rgba(1,1,1, 0.6);
      width: 100%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin: 0 auto;
      margin-top: 25px;
  }
  
  #contactForm h3{
      text-align: center;
      margin-top: 30px;
      padding-bottom: 10px;
      color: white;
    }
  
  #contactForm h4{
    text-align: center;
    margin-top: 30px;
    color: white;
  }
  
  input.nameInput{
      display: block;
      margin: 0 auto; 
      width: 250px;
  }
  
  input.emailInput{
      display: block;
      margin: 0 auto;
      width: 250px;
  }
  
  input.passwordInput{
      display: block;
      margin: 0 auto; 
      width: 250px;
  }
  
  .account{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding-top: 10px;
  }

  button.adultAccount{
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 5px;
    background-color: grey;
    font-size: 15px;
    color: white;
  }
  
  button.kidsAccount{
    width: 60px;
    height: 60px;
    display: block;
    background-color: magenta;
    font-size: 15px;
    color: green;
  }
  
  button.submit{
     display: block;
     margin: 0 auto;
     width: 150px;
     height: 50px;
     margin-top: 10px;
   }
  
  button.submit:hover{
     cursor: pointer;
   }
  
  .footer h1{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    color: rgb(128, 128, 128);
  }

  //account access

.accountAccess h1{
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 100px;
}

//login



#loginForm{
  background-color: rgba(1,1,1, 0.6);
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#loginForm h3{
  text-align: center;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

input.usernameLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

input.passwordLogin{
  margin: 0 auto;
  display: block;
  width: 250px;
  margin-top: 10px;
}

button.submitLogin{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    background-color: #662D91;
    border-color: #662D91;
    color: white;
    box-shadow: 0px 0px 60px -10px rgba(102,45,145,0.6);
  }
 
 button.submit:hover{
    cursor: pointer;
  }

//adult section

.video h1{
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.movieContainer{
  background-color: $main;
  width: auto;
  height: auto;
}

.movieContainer h1{
text-align: center;
font-size: 20px;
margin-top: 5px;
}

.video{
  width: 100%;
  height: auto;
}

.videoPlay{
  width: 75%;
  margin: 0 auto;
  display: block;
}

  //kids

  .backgroundKids{
    background-color: white;
  }
  
  body#kids_class{
    background-color: #cc90cc;
  }

}